/*Definições gerais
--------------------------------*/

body, html {
    background: #fff;
    height: 100%;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

h4 {
    font-family: "Poppins", sans-serif;
    font-size: 1.1em;
    font-weight: 600;
}

h6 {
    font-family: "Poppins", sans-serif;
    font-size: 0.8em;
    font-weight: 600;
}

.verde {
    color: #005929;
}

.logo{
    width: 220px;
}

p {
    font-family: "Poppins", sans-serif;
}

/*Cabeçalho
--------------------------------*/

.exo {
    text-transform: uppercase;
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: black;
    font-size: 0.8em;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #005929;
    font-weight: 800;
}


.botao-cab-seja-um-prestador {
    padding: 5px 15px !important;
    color: #005929 !important;
    font-weight: 700;
    border: 2px solid #005929;
    border-radius: 5px;
}

.botao-cab-seja-um-prestador:hover {
    background: #005929;
    color: white !important;
    font-weight: 500 !important;
}

.botao-cab-minha-conta {
    padding: 5px 15px !important;
    color: white !important;
    border: 2px solid #005929;
    background: #005929;
    border-radius: 5px;
}

.navbar-light .navbar-toggler {
    color: #005929;
    border-color: #005929;
}

.sombra-inferior {
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

/*Home
--------------------------------*/

#home {
    height: 600px;
    background: url(../imgs/banner-principal-corrigido.jpg) no-repeat;
    background-position: 100%;
}

.btn-verde {
    background: #005929;
    color: #fff;
}

.btn-verde:hover {
    color: #fff;
    font-weight: 700;
}

/*Categorias
--------------------------------*/

.coluna-categoria {
    border: 2px solid #005929;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 2px black;
    width: 120px;
    height: 100px;
    padding: 10px 0 95px 0;
}

.card-body {
    height: 230px;
}

.card-body p {
    font-size: 0.9em;
    text-align: justify;
}

.card:hover {
    box-shadow: 0px 0px 1px black;
}

/*O que é a clickservice
--------------------------------*/

#o-que-e {
    background: #f9f9f9;
}

#o-que-e p {
    text-align: justify;
}

.saiba-mais {
    background: rgba(0, 0, 0, 0.0);
    border: 1px solid #005929;
    margin-top: 10px;
    padding: 10px 30px;
    border-radius: 5px;
    color: black;
    width: 50%;
    text-align: center;
    font-family: 'poppins', sans-serif;
}

.saiba-mais:hover {
    background: #005929;
    color: #fff;
    text-decoration: none;

}

/*Como solicitar
--------------------------------*/

#como-solicitar h6 {
    font-size: 18px;
    text-align: center;
}

#como-solicitar p {
    font-size: 14px;
    text-align: justify;
}

/*Media queries
--------------------------------*/

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

    /*Definições gerais
--------------------------------*/
    h1 {
        font-size: 1.6em;
    }

    .logo {
        width: 180px;
    }
/*Home
--------------------------------*/
    #home {
        background: url(../imgs/cover-mobile.jpg) no-repeat;
        background-size: contain;
        background-position: bottom;
        height: auto;
    }

    .margem{
        margin-top: 100px;
    }

/*Categorias
--------------------------------*/

    .formatacao-texto {
        text-align: justify;
    }

    .coluna-categoria {
        border: 1px solid #005929;
        border-radius: 5px;
        text-align: center;
        box-shadow: 0px 0px 2px black;
        width: 100px;
        height: 100px;
        padding: 10px 0 80px 0;
    }

    .coluna-categoria img {
        width: 45px;
    }

    .mts/*Margem top serviços*/ {
        margin-top: 8px;
    }

    .margem-negativa {
        margin-top: -55px;
    }

    .padding-lateral-cards {
        padding-right: 50px;
        padding-left: 50px;
    }

    .carousel {
        padding: 0  20px;
    }

    .carousel-item {
        transition: transform 0.5s ease, opacity .5s ease-out;
    }

/*O que é a clickservice
--------------------------------*/
    .img-o-que-e{
        background: url(../imgs/fundo-secao-o-que-e.png);
        background-position: 20% 100%;
        background-size: cover;
        margin-bottom: 35px;
    }

    #o-que-e img {
        width: 200px;
    }

    #o-que-e h2 {
        text-align: center;
        font-size: 25px;
    }

    #o-que-e p {
        padding: 0 5px;
    }

    .saiba-mais {
        width: 200px;
    }

/*Como solicitar
--------------------------------*/
    h2 {
        font-size: 25px;
    }

    #como-solicitar p {
        padding: 0 10px;
        margin-bottom: 70px;
    }

}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

/*Definições gerais
--------------------------------*/

    h1 {
        font-size: 2em;
        text-align: left;
    }

    .logo {
        width: 180px;
    }

/*Home
--------------------------------*/

    #home {
        background: #fff;
        height: auto;
    }

    .margem{
        margin-top: 150px;
    }

 }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

/*Definições gerais
--------------------------------*/
    h1 {
        font-size: 2.4em;
    }

/*home
--------------------------------*/

    #home {
        background: url(../imgs/banner-principal-tablet.jpg) no-repeat;
        background-size: contain;
        background-position: 100% 10%;
        height: 400px;
    }

    .margem{
        margin-top: 150px;
    }

    .img-banner {
        margin-top: 100px;
    }

/*Categorias
--------------------------------*/
    .formatacao-texto {
        text-align: center;
    }

    .card-body {
        height: 310px;
    }

/*O que é
--------------------------------*/

    #o-que-e h2 {
        text-align: center;
        font-size: 28px;
    }
    
 }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

/*Definições gerais
--------------------------------*/
    h1 {
        font-size: 3em;
    }

    /*Categorias
--------------------------------*/

    .coluna-categoria {
        width: 100px;
        height: 100px;
        padding: 10px 0 95px 0;
    }

    h6 {
        font-family: "Poppins", sans-serif;
        font-size: 0.7em;
        font-weight: 600;
    }

 }

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

/*Definições gerais
--------------------------------*/
    
    
 }
