/*Definições gerais
--------------------------------*/

body, html {
    background: #fff;
    height: 100%;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 48px;
}

h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

h4 {
    font-family: "Poppins", sans-serif;
    font-size: 1.1em;
    font-weight: 600;
}

h6 {
    font-family: "Poppins", sans-serif;
    font-size: 0.8em;
    font-weight: 600;
}

.verde {
    color: #005929;
}

.logo{
    width: 220px;
}

p {
    font-family: "Poppins", sans-serif;
}

/*Cabeçalho
--------------------------------*/

.exo {
    text-transform: uppercase;
    font-family: "Exo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    color: black;
    font-size: 0.8em;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #005929;
    font-weight: 800;
}


.botao-cab-seja-um-prestador {
    padding: 5px 15px !important;
    color: #005929 !important;
    font-weight: 700;
    border: 2px solid #005929;
    border-radius: 5px;
}

.botao-cab-seja-um-prestador:hover {
    background: #005929;
    color: white !important;
    font-weight: 500 !important;
}

.botao-cab-minha-conta {
    padding: 5px 15px !important;
    color: white !important;
    border: 2px solid #005929;
    background: #005929;
    border-radius: 5px;
}

.navbar-light .navbar-toggler {
    color: #005929;
    border-color: #005929;
}

.sombra-inferior {
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

/*Home
--------------------------------*/

#home {
    height: 600px;
    background: url(../imgs/banner-principal-corrigido.jpg) no-repeat;
    background-position: 100%;
}

.btn-verde {
    background: #005929;
    color: #fff;
}

.btn-verde:hover {
    color: #fff;
    font-weight: 700;
}

/*Categorias
--------------------------------*/

.coluna-categoria {
    border: 2px solid #005929;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 0px 2px black;
    width: 120px;
    height: 100px;
    padding: 10px 0 95px 0;
}

.card-body p {
    font-size: 0.9em;
    text-align: justify;
}

.card:hover {
    box-shadow: 0px 0px 1px black;
}


/*Media queries
--------------------------------*/

/*Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

    /*Definições gerais
--------------------------------*/
    h1 {
        font-size: 2em;
    }

    .logo {
        width: 180px;
    }
/*Home
--------------------------------*/
    #home {
        background: #fff;
        height: auto;
    }

    .margem{
        margin-top: 150px;
    }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

/*Definições gerais
--------------------------------*/

    h1 {
        font-size: 2em;
    }

    .logo {
        width: 180px;
    }

/*Home
--------------------------------*/

    #home {
        background: #fff;
        height: auto;
    }

    .margem{
        margin-top: 150px;
    }

 }

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

/*Definições gerais
--------------------------------*/
    h1 {
        font-size: 2.4em;
    }

/*home
--------------------------------*/

    #home {
        background: url(../imgs/banner-principal-tablet.jpg) no-repeat;
        background-size: contain;
        background-position: 100% 10%;
        height: 400px;
    }

    .margem{
        margin-top: 150px;
    }

    .img-banner {
        margin-top: 100px;
    }

/*Categorias
--------------------------------*/
    .centralizar-texto {
        text-align: center;
    }
    
 }

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

/*Definições gerais
--------------------------------*/
    h1 {
        font-size: 3em;
    }

    /*Categorias
--------------------------------*/

    .coluna-categoria {
        width: 100px;
        height: 100px;
        padding: 10px 0 95px 0;
    }

    h6 {
        font-family: "Poppins", sans-serif;
        font-size: 0.7em;
        font-weight: 600;
    }

 }

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

/*Definições gerais
--------------------------------*/
    
    
 }
